<!doctype html>
<html lang="en">
<head>
    <title>Chatroom</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">
</head>
<body>
    {% block content %}
    {% endblock %}


    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.js')}}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>